<!doctype html>
<html lang="id" class="h-100" data-bs-theme="auto">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Simple Sosmed">
        <meta name="author" content="Muhammad Hardiansyah">
        <title>Edit Password</title>
        <link rel="icon" href="/gambar/teh poci.png">
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/custom/sign-in.css">
        <script src="/fontawesome/js/all.js"></script>
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <script src="/bootstrap/js/bootstrap.js"></script>
    </head>

    <body>
        <% if (message) { %>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <%= (message)  %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div> 
        <% } %>
        <div class="form-signin w-100 m-auto mt-5 pt-5">
            <form action="/proses-edit" method="POST" class="wrapper">
                <h1><strong>Edit Password</strong></h1>
                <!-- Tambahkan input untuk username -->
                <div class="form-floating">
                    <input type="text" class="form-control" name="form_username" placeholder="Username" required>
                    <label for="username">Username</label>
                    <i class='bx bxs-user'></i>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" name="form_password" placeholder="Current Password" required>
                    <label for="currentPassword">Current Password</label>
                    <i class='bx bxs-lock-alt'></i>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" name="form_Bpassword" placeholder="New Password" required>
                    <label for="floatingPassword">New Password</label>
                    <i class='bx bxs-lock-alt'></i>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" name="form_Cpassword" placeholder="Confirm New Password" required>
                    <label for="floatingPassword">Confirm New Password</label>
                    <i class='bx bxs-lock-alt'></i>
                </div>
                <button class="btn btn-primary w-100 py-2" type="submit">Ubah Password</button>
                <a href="/profil" class="text-white text-decoration-none">
                    <i class="fa-solid fa-reply mt-3"></i> kembali
                </a>
            </form>
        </div>
    </body>
    
</html>